{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="row row-cols-3">
    {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">₹ {{product.price}}</h6>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{product.name}}">
                    <input type="hidden" name="amount" value="{{product.price}}">
                    <input class="btn btn-outline-success" type="submit" name="submit" value="Buy">
                </form>
            </div>
            </div>
        </div>
    {% endfor %}
    
    
  </div>
</div>


    
{% endblock %}